@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

html , body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}


#page2{
    height: 100%;
    width: 100%;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}


#page3{
    height: 100%;
    width: 100%;
    background-color: sandybrown;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page4{
    height: 100%;
    width: 100%;
    background-color: plum;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box1{

    height: 300px;
    width: 300px;
    background-color: black;

}

#box2{

    height: 300px;
    width: 300px;
    background-color: black;
    
}

#box3{

    height: 300px;
    width: 300px;
    background-color: black;
    
}

#box4{

    height: 300px;
    width: 300px;
    background-color: black;
    
}