@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

html , body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #000;
}

nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    height: 60px;
    mix-blend-mode: difference;
    margin-left: 10px;
}

#nav-mid{
    display: flex;
    
}

#nav-mid>button{

    margin: 0px 20px;
    font-size: 15px;
    font-weight: 400;
    background-color: transparent;
    border: 0px;
    
}

#nav-mid>select{

    margin: 0px 20px;
    font-size: 15px;
    font-weight: 400;
    background-color: transparent;
    border: 0px;
    pointer-events: none;
    
}

#nav-mid>select:hover{
    cursor: pointer;
}

#nav-end{
    margin-right: 30px;
}

#nav-end>button{
    padding: 20px 35px;
    border: 0px;
}

#login{
    background-color: transparent;
    font-size: 15px;
    font-weight: 400;

}

#login:hover{
    cursor: pointer;
}

#get-started{
    color: black;
    font-size: 15px;
    font-weight: 400;

}

#get-started:hover{
    cursor: pointer;
}

#main-mid{
    margin-top: 50px;
    line-height: 1.2;
    position: relative;
    z-index: 1;
    
}

#main-mid>h1{
    font-size: 130px;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-mid>h1>span{
    font-size: 100px;
    font-size: 40px;
    background-color: brown;
    padding: 30px 65px;
    border-radius: 50px;
    margin: 0px 35px;
    font-family: 'Times New Roman', Times, serif;
}

#image1{
    height: 200px;
    position: absolute;
    top: 20%;
    left: 6%;
    border-radius: 10px;
}

#image2{

    height: 160px;
    position: absolute;
    top: 15%;
    right: 26%;
    border-radius: 10px;
}

#image3{

    height: 190px;
    position: absolute;
    bottom: 7%;
    left: 20%;
    border-radius: 10px;
    
}

#image4{

    height: 250px;
    position: absolute;
    bottom: 15%;
    right: 4%;
    border-radius: 10px;
    
}

#triangle{
    height: 70px;
    background-color: white;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}


#scroll{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,0);
    background-color: transparent;
    border: 0px;

}

#scroll:hover{
    cursor: pointer;
}

